
<form class="" method="post" action="/register">
  <h1><u>Plumber Availability</u></h1>
  <table id="slots">
    <tr>
  <th><input type="checkbox" value="monday">Monday<br></th>
  <th><input type="radio"  value="morning" name="slot">Morning<br></th>
  <th><input type="radio" value="midday" name="slot">Midday<br></th>
  <th><input type="radio"  value="afternoon" name="slot">Afternnon<br></th>
</tr>
<tr>
  <th><input type="checkbox" value="tuesday">Tuesday<br></th>
  <th><input type="radio"  value="morning" name="slot">Morning<br></th>
  <th><input type="radio" value="midday" name="slot">Midday<br></th>
  <th><input type="radio"  value="afternoon" name="slot">Afternnon<br></th>
</tr>
<tr>
  <th><input type="checkbox" value="wednesday">Wednesday<br></th>
  <th><input type="radio"  value="morning" name="slot">Morning<br></th>
  <th><input type="radio" value="midday" name="slot">Midday<br></th>
  <th><input type="radio"  value="afternoon" name="slot">Afternnon<br></th>
</tr>
<tr>
  <th><input type="checkbox" value="thursday">Thursday<br></th>
  <th><input type="radio"  value="morning" name="slot">Morning<br></th>
  <th><input type="radio" value="midday" name="slot">Midday<br></th>
  <th><input type="radio"  value="afternoon" name="slot">Afternnon<br></th>
</tr>
<tr>
  <th><input type="checkbox" value="friday">Friday<br></th>
  <th><input type="radio"  value="morning" name="slot">Morning<br></th>
  <th><input type="radio" value="midday" name="slot">Midday<br></th>
  <th><input type="radio"  value="afternoon" name="slot">Afternnon<br></th>
</tr>
<tr>
  <th><input type="checkbox" value="suturday">Saturday<br></th>
  <th><input type="radio"  value="morning" name="slot">Morning<br></th>
  <th><input type="radio" value="midday" name="slot">Midday<br></th>
  <th><input type="radio"  value="afternoon" name="slot">Afternnon<br></th>
  <tr>
  <th><input type="checkbox" value="sunday">Sunday<br></th>
  <th><input type="radio"  value="morning" name="slot">Morning<br></th>
  <th><input type="radio" value="midday" name="slot">Midday<br></th>
  <th><input type="radio"  value="afternoon" name="slot">Afternnon<br></th>
</tr>
</table>
  <button type="submit" class="btn btn-default add-slots-btn"  class="slot">Submit</button>
</form>
